body {
  background-image: url("/img/background2.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  color: #335CAD;
resize: horizontal;
font-family: 'PT Serif Caption'; 
font-size: 90%;
}

html{
 position:absolute;
 margin:0px;
 padding:0px;
}
body{
   position:absolute;
   padding:0px;
   margin:0px; 
   top:0px;
   left:0px;
height: 1050px;
width:1897px;
}


h1 {
    color: black;
    text-align: center;
}
p {color: black;}


.per1{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
    top: -100px;
}
.per2{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
    top: -100px;
}
.per3{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
    top: -100px;
}
.per4{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
    top: -100px;
}
.per5{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
    top: -100px;
}
.per6{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
    top: -100px;
}

/* ---- Timeline ---- */

ol {
	position: relative;
	display: block;
	margin: 140px;
  margin-left: 0px;
  margin-right: 10px;
  resize: horizontal;

  height: 100px;
  width: 100%;
  background-image: url("/img/background.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-size: auto;

}

/* ---- Timeline elements ---- */

li {
	position: relative;
	top: -85px;
	display: inline-block;
	float: center;
	width: 150px;
  right: -200px;
  margin-right: 110px;
	transform: rotate(-45deg);
	font: bold 14px arial;
resize: horizontal;

}

li::before {
  transform: rotate(45deg);
  background-size: 103px 58px;
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-right: 60px;
	content: "";
	position: absolute;
	top: 27px;
	left: -145px;
	display: block;
	height: 160px;	
resize: horizontal;
  }

li.a::before {
 background-image: url("/img/eurobasket_1987.jpg")
}
li.b::before {
  background-image: url("/img/euro_2004.jpg");
}
li.c::before {
  background-image: url("/img/olympic_2004.jpg");
}
li.d::before {
  background-image: url("/img/eurobasket_2005.jpg");
}
li.e::before {
  background-image: url("/img/mundobasket_2006.jpg");
}
li.f::before {
  background-image: url("/img/mundial_2014.jpg");
}

/* ---- Hover effects ---- */

li:hover {
	cursor: pointer;
  color: #B20000;
  font: bold 14px arial ;
}

li:hover .details {
	display: none;
  color: #444;
}
.clicked {
  font: bold 14px arial ;
color: #B20000;
	}
.clicked::before {
background-size: 123px 68px;
  top: 22px;
	left: -140px;
color: #B20000;
	}

.im1:hover {cursor: pointer;}
.im2:hover {cursor: pointer;}
.im3:hover {cursor: pointer;}
.im4:hover {cursor: pointer;}
.im5:hover {cursor: pointer;}
.im6:hover {cursor: pointer;}

#mytext{
  top: -100px;
  text-indent:25px;
  font-family: 'PT Serif Caption';
  display: none;
  color: black;
  margin-right:60px;
  position: relative;
}

 .ima1,.ima2,.ima3,.ima4,.ima5,.ima6{
  top: -100px;
    float:left;
    width:512px;
    height:288px;
    display: none;
    margin-right:25px;
    margin-bottom:25px;
   position: relative;
   }