body {
  background-image: url("/img/background.jpg"),url("/img/background2.jpg");
  background-repeat: repeat-x, repeat-x;
  background-position: 0px 454px, 0px 66px;
  color: #335CAD;
resize: horizontal;
font-family: 'PT Serif Caption'; 
font-size: 90%;
height: 1800px;}



h1 {
    color: black;
    text-align: center;
}
p{color: black;}

 
#perspective {
  margin: 0 auto;
  margin-top: -200px;
  width: 510px;
  height: 240px;
  position: relative;
  -webkit-perspective: 1100px;
  perspective: 1100px;
}

#carousel {
  width: 150%;
  height: 150%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) translateZ(-288px);
}

#carousel figure {
  display: block;
  position: absolute;
  width: 512px;
  height: 288px;
  opacity: 1;
  margin: -12px;
   margin-top:  300px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  transition: opacity 1s, transform 1s;
}



ol {
	position: relative;
	display: block;
	margin: 140px;
  margin-left: 0px;
  margin-right: 10px;
	height: 4px;
}

/* ---- Timeline elements ---- */

li.ti {
  position: relative;
  top: -100px;
  display: inline-block;
  float: center;
  width: 150px;
  right: -200px;
  margin-right: 110px;
  transform: rotate(-45deg);
  font: bold 14px arial;
  resize: horizontal;
}
li.ti::before {
  content: "";
  position: relative;
  top: 73px;
  left: -64px;
  display: block;
  width: 7px;
  height: 7px;
  border: 10px solid #47B2B2;
  border-radius: 20px;
  background: #eee;
}


/* ---- Details ---- */

.clicked.ti {
  font: bold 14px arial ;
color: #B20000;
  }
.clicked.ti::before {
  border: 12px solid #B20000;
  color: #B20000;
  }

#mytext{
  text-indent:25px;
  font-family: 'PT Serif Caption';
  display: none;
  color: black;
  margin-right:60px;
  position: relative;

}


#mytext{
  text-indent:25px;
  font-family: 'PT Serif Caption';
  display: none;
  color: black;
    text-align: left;
    color: black;
    position:relative;
    width:910px;
    left:500px;
    top:380px;
}

#mybutton{ 
  font-family: 'PT Serif Caption';
  display: none;
text-align:center;
position: relative;
left:22%;
  top:370px;
    margin-left:475px;
    margin-bottom:25px;
   font-size: 100%;
  background-image: -webkit-linear-gradient(top, #10222e, #61c2ff);
  background-image: -moz-linear-gradient(top, #10222e, #61c2ff);
  background-image: -ms-linear-gradient(top, #10222e, #61c2ff);
  background-image: -o-linear-gradient(top, #10222e, #61c2ff);
  background-image: linear-gradient(to bottom, #10222e, #61c2ff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  background: #3cb0fd;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

#mybutton:hover {
  background: #bd0a0a;
  background-image: -webkit-linear-gradient(top, #bd0a0a, #bd0a0a);
  background-image: -moz-linear-gradient(top, #bd0a0a, #bd0a0a);
  background-image: -ms-linear-gradient(top, #bd0a0a, #bd0a0a);
  background-image: -o-linear-gradient(top, #bd0a0a, #bd0a0a);
  background-image: linear-gradient(to bottom, #bd0a0a, #bd0a0a);
  text-decoration: none;
  cursor: pointer;
}

entity {
    position: relative;
    cursor: pointer;
    font-style:italic;
    text-decoration: underline;
}

entity:hover:after {
    background: hsla(0,0%,0%,.9);
    border-radius: 5px;
    color: #f6f6f6;
    content: attr(data-content)'';
    font: bold 12px/30px sans-serif;
 
  border-left: 70px;
  left: -150px;

    position: absolute;
    top: 30px;
    width: 320px;
    max-height:300px;
    z-index:1;
    overflow: hidden;

}
entity:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.9);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 20px;
    width: 0;
}
entity:target {
    display: none;
}


